@import "node_modules/bootstrap/scss/bootstrap";


$primary: #00B4D8;
$dark: #183b44;
$main: #E9ECEF;

* {
    box-sizing: border-box;

}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: #212529;
}





.main-header {
    font-family: 'Poppins', sans-serif;
    background-color: #E9ECEF;
    box-shadow: 0 2px 10px rgba(145, 145, 145, 0.3);
    font-size: 1.4rem;

    .main-header.scrolled {
        background-color: rgba(206, 199, 199, 0.9);
        backdrop-filter: blur(5px);
        transition: all 0.3s ease;
    }

    .navbar-brand {
        font-size: 1.8rem;
        color: #212529;

        &:hover {
            color: lighten($primary, 10%);
        }
    }

    .nav-link {
        color: #212529;
        transition: color 0.3s ease;

        &:hover {
            color: $primary;
        }

        &.active {
            color: #212529;
            font-weight: 600;
        }

        .navhome {
            color: #212529;
        }

    }
}

.block {
    // background-color: #ddd;
    // border: solid 1px #aaa;
    // padding: 20px;
    text-align: center;
    height: 100%;

    .img-1 {
        max-height: 550px;
        margin-top: 20px;
        @media (max-width: 768px) {
            display:none;
        }
        @media (max-width: 1200px) {
            margin-top: 130px;
            height: 380px;
        }
    }
}

.promo {
    min-height: 460px;
    margin-bottom: 110px;

    .text {
        margin-top: 170px;
        @media (max-width: 768px) {
            margin-top: 110px;
            margin-bottom: 100px;
        }
        .btn {
            @media (max-width: 992px){
                width: 200px;
                height: 50px;
            }
        }


    }
}

.clients {
    min-height: 80px;
    margin-bottom: 170px;


    .img-2 {

        height: 100px;
    }
}

.pricing {

    min-height: 480px;
    margin-bottom: 235px;
    border-radius: solid 10px #000000;

    .card:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        transition: 0.3s;
    }

    ion-icon {
        font-size: 27px;
    }
}

.team {
    min-height: 360px;
    margin-bottom: 180px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    .team-member:hover {
        transform: translateY(-8px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    }

    .img-3 {
        border-radius: 15px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        background-color: $main;
        align-items: center;
        height: 350px;
        width: 290px;
    }
}

.footer {
    border-radius: 16px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    min-height: 380px;
    font-size: 22px;
    background-color: #E9ECEF;
    @media (max-width: 992px) {
        margin-bottom: 30px;
    }

    .SocialMedia {
        margin-left: 100px;
        transform: translateY(25px);
        @media (max-width: 992px) {
            margin-top: 20px;
            margin-bottom: 30px;
            transform: translateX(25px);
            
        }
        .icon-text {
            display: flex;
            
            gap: 8px;
            font-size: 22px;
            & ion-icon {
                font-size: 30px;
                
            }
        }
    }

        
        ion-icon {
            font-size: 30px;
        }
}   

    .checkmark {
        color: green;

    }

    .card-text {
        font-size: 20px;
    }

